body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.alert {
    display: none;
    font-size: 1.2em;
}

textarea {
    resize: none;
}
